{{/* Expects: The context of a single page (the "dot")
Usage: {{ partial "post-card.html" . }}
*/}}

{{/* get or default for thumbnail */}}
{{ $image := resources.Get "images/default-thumbnail.jpg" }}
{{ with .Resources.GetMatch "featured-image*" }}
{{ $image = . }}
{{ end }}

<article class="post-item row">
	{{ with $image }}
	{{ $thumbnail := .Resize "400x webp q80" }}
	<img src="{{ $thumbnail.RelPermalink }}" alt="{{ $.Title }}" loading="lazy">
	{{ end }}

	<div class="post-info stack">
		<a href="{{ .RelPermalink }}">
			<h4>{{ .Title }}</h4>
		</a>
		<p>{{ .Summary | plainify | truncate 400 }}</p>
		<a class="button basic" href="{{ .RelPermalink }}">
			Read More
		</a>
	</div>
</article>
