{{/* Expects: The context of a single page (the "dot")
Usage: {{ partial "post-card.html" . }}
*/}}

{{/* get or default for thumbnail */}}
{{ $image := resources.Get "images/default-thumbnail.jpg" }}
{{ with .Resources.GetMatch "featured-image*" }}
{{ $image = . }}
{{ end }}

<article>
	{{ with $image }}
	{{ $thumbnail := .Resize "400x webp q80" }}
	<img src="{{ $thumbnail.RelPermalink }}" alt="{{ $.Title }}" loading="lazy">
	{{ end }}

	<section>
		<a href="{{ .RelPermalink }}">
			<header>
				<h3>{{ .Title }}</h3>
			</header>
		</a>
		<p>{{ .Summary | plainify | truncate 400 }}</p>
		<footer>
			<a class="button basic" href="{{ .RelPermalink }}">
				Read More
			</a>
		</footer>
	</section>
</article>
