{{/* Expects: The context of a single page (the "dot")
Usage: {{ partial "post-card.html" . }}
*/}}

{{ $featuredImageParam := .Params.featured_image }}
{{ $featuredImageFile := .Resources.GetMatch "featured.*" }}

{{ $featuredImage := "" }}
{{ if $featuredImageParam }}
{{ $featuredImage = resources.Get $featuredImageParam }}
{{ else }}
{{ $featuredImage = $featuredImageFile }}
{{ end }}

{{ $image := resources.Get "images/default-thumbnail.jpg" }}
{{ if $featuredImage }}
{{ $image = $featuredImage }}
{{ end }}

<article>
	{{ with $image }}
	{{ $thumbnail := "" }}
	{{ if not (eq .MediaType.SubType "svg") }}
	{{ $thumbnail = .Resize "450x webp q80" }}
	{{ else }}
	{{ $thumbnail = $image }}
	{{ end }}
	<img src="{{ $thumbnail.RelPermalink }}" alt="{{ $.Title }}" loading="lazy">
	{{ end }}

	<section>
		<a href="{{ .RelPermalink }}">
			<header>
				<h3>{{ .Title }}</h3>
			</header>
		</a>
		<p>{{ .Summary | plainify }}</p>
		<footer>
			<a class="button basic" href="{{ .RelPermalink }}">
				Read More
			</a>
		</footer>
	</section>
</article>
