<aside class="stack">
	<h2>Dr. Kathy Platoni, Psy.D., DAAPM, FAIS</h2>
	<p>
		Clinical Psychologist, PTSD & Trauma Specialist, Author, Speaker, Trainer
	</p>
	<a href="/about">Read full bio</a>
	<address class="sidebar-address">
		50 South Main Street<br>
		Centerville, Ohio<br>
		45458-2362<br>
		<div class="social-links">
			<a class="button primary" id="telephone" href="tel:+19373214020">+1(937)321-4020</a>
			<a class="button primary" id="email" href="mailto:drRunt@woh.rr.com">Email</a>
			<a class="button primary" id="facebook" href="https://www.facebook.com/Dr-Kathy-Platoni-1371327786262164/">Facebook</a>
			<a class="button primary" id="linkedin" href="https://www.linkedin.com/in/yourlinkedinid">LinkedIn</a>
		</div>
	</address>
</aside>
