<!DOCTYPE html>
<html lang="en">
	<head>
		{{ partial "head.html" . }}
	</head>
	<body>
		<header class="site-header">
			{{ partial "header.html" . }}
		</header>
		{{ block "banner" . }}
		{{ partial "banner.html" . }}
		{{ end }}
		<main class="with-sidebar">
			{{ block "main" . }}{{ end }}
			{{ block "sidebar" . }}
			{{ partial "sidebar.html" }}
			{{ end }}
		</main>
		<footer class="site-footer">
			{{ partial "footer.html" . }}
		</footer>
		{{ partial "scripts.html" .}}
	</body>
</html>
