{{ define "main" }}
<!-- <section class="tagline"> -->
<section>
	<section id="services">
		<!-- <section id="featured-pages"> -->
		<hgroup>
			<h2>
				Guiding Others To Heal Is A Privilege
			</h2>
			<p>
				Expertise in Healing Trauma, Combat Stress and Mass Casualties
			</p>
		</hgroup>

		<!-- Featured Pages -->
		<ul class="card-container grid-4-2-1">
			{{ range site.Data.featured_pages }}
			{{ $item := . }}
			{{ with site.GetPage $item.path }}
			<li>
				{{ partial "post-item.html" . }}
			</li>
			{{ end }}
			{{ end }}
		</ul>
	</section>

	<!-- Featured Tags -->
	<section id="featured-tags">
		<ul class="card-container grid-3-1">
			{{ range site.Data.featured_tags }}
			{{ $item := . }}
			<li>
				<article class="stack">
					{{ with resources.Get $item.thumbnail }}
					<img src="{{ .Permalink }}" alt="{{ $item.tag }}">
					{{ else }}
					{{ with resources.Get "images/default-thumbnail.jpg" }}
					<img src="{{ .Permalink }}" alt="{{ $item.tag }}">
					{{ end }}
					{{ end }}
					<a href="/tags/{{ urlize $item.tag }}">
						<header>
							<h3>{{ $item.tag | humanize | title }}</h3>
						</header>
					</a>
					<p>{{ $item.blurb }}</p>
					<footer>
						<a class="button basic" href="/tags/{{ urlize $item.tag }}">View All</a>
					</footer>
				</article>
			</li>
			{{ end }}
		</ul>
	</section>

	<section id="news" class="stack">
		<h2>Latest News</h2>
		<ul>
			{{ range where site.RegularPages "Section" "in" (slice "news" "events" "books") }}
			<li>
				{{ partial "post-item.html" . }}
			</li>
			{{ end }}
			{{ range where site.RegularPages "Section" "in" (slice "news" "events" "books") }}
			<li>
				{{ partial "post-item.html" . }}
			</li>
			{{ end }}
		</ul>
	</section>
</section>
{{ end }}
