{{ define "main" }}
<!-- <section class="tagline"> -->
<section>
	<section id="services">
		<!-- <section id="featured-pages"> -->
		<hgroup>
			<h2>
				Guiding Others To Heal Is A Privilege
			</h2>
			<p>
				Expertise in Healing Trauma, Combat Stress and Mass Casualties
			</p>
		</hgroup>

		<!-- Featured Pages -->
		<ul class="grid-4-2-1">
			{{ range site.Data.featured_pages }}
			{{ with site.GetPage .path }}
			<li>
				{{ partial "post-item.html" . }}
			</li>
			{{ end }}
			{{ end }}
		</ul>
	</section>

	<!-- Featured Tags -->
	<section id="featured-tags">
		<ul class="grid-3-1">
			{{ $default_thumb := resources.Get "images/default-thumbnail.jpg" }}
			{{ range site.Data.featured_tags }}
			
			{{ $thumbnail := default $default_thumb (resources.Get .thumbnail) }}

			<li>
				<article>
					<img src="{{ $thumbnail.RelPermalink }}" alt="{{ .tag }}">
					<a href="{{ .RelPermalink }}">
						<header>
							<h3>{{ .tag | humanize | title }}</h3>
						</header>
					</a>
					<p>{{ .blurb }}</p>
					<footer>
						<a class="button basic" href="{{ .RelPermalink }}">View All</a>
					</footer>
				</article>
			</li>
			{{ end }}
		</ul>
	</section>

	<section id="news">
		<h2>Latest News</h2>
		<ul>
			{{ range where site.RegularPages "Section" "in" (slice "news" "events" "books") }}
			<li>
				{{ partial "post-item.html" . }}
			</li>
			{{ end }}
			{{ range where site.RegularPages "Section" "in" (slice "news" "events" "books") }}
			<li>
				{{ partial "post-item.html" . }}
			</li>
			{{ end }}
		</ul>
	</section>
</section>
{{ end }}
