{{ define "main" }}
<section>
	<section id="services">
		<hgroup>
			<h2>
				Guiding Others To Heal Is A Privilege
			</h2>
			<p>
				Expertise in Healing Trauma, Combat Stress and Mass Casualties
			</p>
		</hgroup>

		<!-- Featured Pages -->
		<ul class="grid-4-2-1">
			{{ range site.Data.featured_pages }}
			{{ with site.GetPage .path }}
			<li>
				{{ partial "post-item.html" . }}
			</li>
			{{ end }}
			{{ end }}
		</ul>
	</section>

	<!-- Featured Tags -->
	<section id="featured-tags">
		<ul class="grid-3-1">
			{{ with site.GetPage "/combat-stress-magazine" }}
			<li>{{ partial "post-item.html" . }}</li>
			{{ end }}
			
			{{ with index site.Taxonomies.tags "fort hood" }}
			<li>{{ partial "post-item.html" .Page }}</li>
			{{ end }}
			
			{{ with index site.Taxonomies.tags "awards" }}
			<li>{{ partial "post-item.html" .Page }}</li>
			{{ end }}
		</ul>
	</section>

	<section id="news">
		<h2>Latest News</h2>
		<ul>
			{{ range where site.RegularPages "Section" "in" (slice "news" "events" "books") }}
			<li>
				{{ partial "post-item.html" . }}
			</li>
			{{ end }}
			{{/* TODO: REMOVE DUPES */}}
			{{ range where site.RegularPages "Section" "in" (slice "news" "events" "books") }}
			{{ $page := . }}
			{{ $dupeTitle := printf "[DUPE] %s" .Title }}
			<li>
				{{ partial "post-item.html" (dict "Title" $dupeTitle "RelPermalink" $page.RelPermalink "Summary" $page.Summary "Params" $page.Params) }}
			</li>
			{{ end }}
		</ul>
	</section>
</section>
{{ end }}
