{{ define "banner" }}
{{ partial "banner.html" . }}
{{ end }}

{{ define "main" }}
<!-- hello single -->
<article id="post">
	<header>
		<h2>{{ .Title }}</h2>
		{{ with .Params.subtitle }}
		<p>{{ . }}</p>
		{{ end }}
		<div>
			<time datetime='{{ .Date.Format "2006-01-02" }}'>
				{{ .Date.Format "January 2, 2006" }}
			</time>
			{{ with .Params.author }}
			<span>by {{ . }}</span>
			{{ end }}
		</div>
		{{ with .Params.source_name }}
		<cite>
			<a href="{{ $.Params.source_url }}" target="_blank" rel="noopener noreferrer">{{ . }}</a>
		</cite>
		{{ end }}
	</header>
	{{ .Content }}
	{{ with .Params.source_name }}
	<a class="button primary" href="{{ $.Params.source_url }}" target="_blank" rel="noopener noreferrer">Read Full Article</a>
	{{ end }}
	<footer>
		{{ with .Params.tags }}
		<section id="tags">
			<h4>tagged with:</h4>
			<ul>
				{{ range . }}
				<li><a class="button basic" href='{{ "tags/" | relLangURL }}{{ . | urlize }}'>{{ . }}</a></li>
				{{ end }}
			</ul>
		</section>
		{{ end }}
	</footer>
</article>
{{ end }}
